/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
    --border-shadow-color: #000000;
    --section-background-color: #FFFFFF;
    --main-background-color: #ffe693;
    --default-button-color: #D7D7D7;
    --primary-btn-color: #BE81CC;
    --primary-btn-hover-color: #9A69A5;
    --secondary-btn-color: #FFFFFF;
    --secondary-btn-hover-color: #AAAAAA;
    --danger-color: #FE4A60;
    /* TODO: Soft teal could be options*/
    --main-border-style: 2px solid var(--border-shadow-color);
    --util-border-radius: 2px;
    --section-border-radius: 12px;
    --main-box-shadow: 3px 4px 0px 0px rgba(0,0,0,1);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: Roboto, Andale Mono, system-ui;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------ GENERAL/TAGS ------ */
a {
    color: inherit;
}

button {
    font-family: Roboto, Andale Mono, system-ui;
    font-size: 1.1rem;
    padding: 0.5rem 1.25rem;
    background-color: var(--default-button-color);
    border: var(--main-border-style);
    border-radius: var(--util-border-radius);
    box-shadow: var(--main-box-shadow);
}

.primaryBtn {
    background-color: var(--primary-btn-color);
}

.secondaryBtn {
    background-color: var(--secondary-btn-color);
}

a:hover {
    color: var(--primary-btn-color);
}

button:hover {
    background-color: var(--secondary-btn-hover-color);
}

.primaryBtn:hover {
    background-color: var(--primary-btn-hover-color);
}

.secondaryBtn:hover {
    background-color: var(--secondary-btn-hover-color);
}

a:hover,
button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: none;
    margin: 3px -4px -3px 4px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
}

input[type="text"], 
input[type="number"] {
    font-size: 1.1rem;
    font-weight: lighter;
    padding: 0.33rem 0.5rem;
    border: var(--main-border-style);
    border-radius: var(--util-border-radius);
    box-shadow: var(--main-box-shadow);
}

input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    box-shadow: 3px 4px 0px 0px rgba(190, 129, 204, 1);
}

/* ------ HEADER ------ */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--section-background-color);
    border-bottom: var(--main-border-style);
}

/* ------ MAIN ------ */
main {
    background-color: var(--main-background-color);
    padding: 1rem;
}

.sectionTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.bookList {
    margin: 1rem 0rem;
}

/* ------ MAIN > DIALOG------ */
dialog {
    height: 55%;
    width: 40%;
    border: var(--main-border-style);
    border-radius: var(--section-border-radius);
    box-shadow: var(--main-box-shadow);
}

.dialogHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.formControl {
    display: flex;
    flex-direction: column;
    margin: 2px 0px;
    width: 100%;
    margin-bottom: 1rem;
}

.formControlInline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px 0px;
    margin-bottom: 1rem;
}

.dialogContent label {
    font-size: 1.33rem;
}

.formControl > input#pages {
    width: max(75px, 20%);
}

#formButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 2rem;
}

/* ------ MAIN > BOOKLIST------ */
.bookList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 2.5rem;
    row-gap: 2.5rem;
}

.bookCard {
    height: 150px;
    width: max(150px, 250px);
    background-color: var(--section-background-color);
    border: var(--main-border-style);
    border-radius: var(--util-border-radius);
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bookCard:hover {
    box-shadow: var(--main-box-shadow);
}

.bookCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bookCardTitle {
    font-weight: bold;
    text-decoration: underline;
}

.bookCardDeleteBtn {
    font-size: 0.85rem;
    font-weight: bold;
    padding: 0.15rem 0.30rem;
}

.bookCardDeleteBtn:hover {
    background-color: var(--danger-color);;
}

.bookCardAuthorName {
    font-style: italic;
}

.bookCardHasRead {
    align-self: flex-end;
}

/* ------ FOOTER ------ */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--main-background-color);
    padding: 1rem;
}

footer a > i {
    text-decoration: underline;
}